.font-header, .font-header-heavy {
  font-family: 'proxima-nova-alt-ext-cond', 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400; }

.font-header-heavy {
  font-weight: 600; }

.font-body, body {
  font-family: 'proxima-nova-alt-condensed', 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 100; }

*,
*:after,
*:before {
  box-sizing: border-box; }

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }
