@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?13245343");
  src: url("../font/fontello.eot?13245343#iefix") format("embedded-opentype"), url("../font/fontello.woff2?13245343") format("woff2"), url("../font/fontello.woff?13245343") format("woff"), url("../font/fontello.ttf?13245343") format("truetype"), url("../font/fontello.svg?13245343#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

.font-header, .font-header-heavy, .btn-basic, .hite .theme-btnOutline, .hite .btn-main, .jinro .theme-btnOutline, .jinro .btn-main, .hite .theme-btnSolid, .hite .btn-sub, .jinro .theme-btnSolid, .jinro .btn-sub, body.news-and-events .hero .title-wrapper .page-title, body.news-and-events article h1.headline, #brand-intro .headline, #instagram .headline span, .list-container > .headline, button, ::-webkit-input-placeholder, .headline, .nav-links {
  font-family: 'proxima-nova-alt-ext-cond', 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.12em;
  line-height: 1.2; }

.font-header, .font-header-heavy, .btn-basic, .hite .theme-btnOutline, .hite .btn-main, .jinro .theme-btnOutline, .jinro .btn-main, .hite .theme-btnSolid, .hite .btn-sub, .jinro .theme-btnSolid, .jinro .btn-sub, body.news-and-events .hero .title-wrapper .page-title, body.news-and-events article h1.headline, #brand-intro .headline, #instagram .headline span, .list-container > .headline, button, ::-moz-placeholder, .headline, .nav-links {
  font-family: 'proxima-nova-alt-ext-cond', 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.12em;
  line-height: 1.2; }

.font-header, .font-header-heavy, .btn-basic, .hite .theme-btnOutline, .hite .btn-main, .jinro .theme-btnOutline, .jinro .btn-main, .hite .theme-btnSolid, .hite .btn-sub, .jinro .theme-btnSolid, .jinro .btn-sub, body.news-and-events .hero .title-wrapper .page-title, body.news-and-events article h1.headline, #brand-intro .headline, #instagram .headline span, .list-container > .headline, button, :-ms-input-placeholder, .headline, .nav-links {
  font-family: 'proxima-nova-alt-ext-cond', 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.12em;
  line-height: 1.2; }

.font-header, .font-header-heavy, .btn-basic, .hite .theme-btnOutline, .hite .btn-main, .jinro .theme-btnOutline, .jinro .btn-main, .hite .theme-btnSolid, .hite .btn-sub, .jinro .theme-btnSolid, .jinro .btn-sub, body.news-and-events .hero .title-wrapper .page-title, body.news-and-events article h1.headline, #brand-intro .headline, #instagram .headline span, .list-container > .headline, button, ::placeholder, .headline, .nav-links {
  font-family: 'proxima-nova-alt-ext-cond', 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.12em;
  line-height: 1.2; }

.font-header-heavy, .btn-basic, .hite .theme-btnOutline, .hite .btn-main, .jinro .theme-btnOutline, .jinro .btn-main, .hite .theme-btnSolid, .hite .btn-sub, .jinro .theme-btnSolid, .jinro .btn-sub, body.news-and-events .hero .title-wrapper .page-title, body.news-and-events article h1.headline, #brand-intro .headline, #instagram .headline span, .list-container > .headline {
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 1.1; }

.font-body, body {
  font-family: 'proxima-nova-alt-condensed', 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.75; }

.font-serif, .subtitle, .footer-links a {
  font-family: 'pt-serif', Georgia, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05em; }

.icon {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-paper-plane:before {
  content: '\61'; }

/* 'a' */
.icon-mail:before {
  content: '\65'; }

/* 'e' */
.icon-facebook:before {
  content: '\66'; }

/* 'f' */
.icon-instagram:before {
  content: '\69'; }

/* 'i' */
.icon-angle-left:before {
  content: '\6c'; }

/* 'l' */
.icon-location:before {
  content: '\6d'; }

/* 'm' */
.icon-pinterest:before {
  content: '\70'; }

/* 'p' */
.icon-angle-right:before {
  content: '\72'; }

/* 'r' */
.icon-search:before {
  content: '\73'; }

/* 's' */
.icon-twitter:before {
  content: '\74'; }

/* 't' */
.btn-basic, .hite .theme-btnOutline, .hite .btn-main, .jinro .theme-btnOutline, .jinro .btn-main, .hite .theme-btnSolid, .hite .btn-sub, .jinro .theme-btnSolid, .jinro .btn-sub {
  line-height: 1;
  display: inline-block;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s; }

.wf-loading h2, .wf-loading p, .wf-loading a {
  visibility: hidden; }

.hite .theme-bgColor, .hite #links-panel, .hite #site-toggle-bar, .hite #menu-toggle span, #menu-toggle .hite span, .hite #instagram, .hite .theme-bgColor:before, .hite #links-panel:before, .hite #site-toggle-bar:before, .hite #menu-toggle span:before, #menu-toggle .hite span:before, .hite #instagram:before, .hite .theme-bgColor:after, .hite #links-panel:after, .hite #site-toggle-bar:after, .hite #menu-toggle span:after, #menu-toggle .hite span:after, .hite #instagram:after {
  background-color: #213e92; }

.jinro .theme-bgColor, .jinro #links-panel, .jinro #site-toggle-bar, .jinro #menu-toggle span, #menu-toggle .jinro span, .jinro #instagram, .jinro .theme-bgColor:before, .jinro #links-panel:before, .jinro #site-toggle-bar:before, .jinro #menu-toggle span:before, #menu-toggle .jinro span:before, .jinro #instagram:before, .jinro .theme-bgColor:after, .jinro #links-panel:after, .jinro #site-toggle-bar:after, .jinro #menu-toggle span:after, #menu-toggle .jinro span:after, .jinro #instagram:after {
  background-color: #60bb46; }

.hite .theme-color, .hite footer .footer-links li:hover, footer .footer-links .hite li:hover, .hite #brand-intro .headline, #brand-intro .hite .headline {
  color: #213e92; }

.jinro .theme-color, .jinro footer .footer-links li:hover, footer .footer-links .jinro li:hover, .jinro #brand-intro .headline, #brand-intro .jinro .headline {
  color: #60bb46; }

.hite .theme-color-tint, .hite .theme-color-responsive, .hite .nav-links, .hite .social-links, .hite #instagram {
  color: #b7c0c8; }

.jinro .theme-color-tint, .jinro .theme-color-responsive, .jinro .nav-links, .jinro .social-links, .jinro #instagram {
  color: #b0f29d; }

@media (min-width: 1024px) {
  .hite .theme-color-responsive, .hite .nav-links, .hite .social-links {
    color: #213e92; }
  .jinro .theme-color-responsive, .jinro .nav-links, .jinro .social-links {
    color: #60bb46; } }

.hite .theme-borderColor, .hite footer .social-links li:hover a, footer .social-links li:hover .hite a {
  border-color: #213e92; }

.jinro .theme-borderColor, .jinro footer .social-links li:hover a, footer .social-links li:hover .jinro a {
  border-color: #60bb46; }

.hite .theme-borderColor-tint, .hite .theme-borderColor-responsive, .hite .social-links a, .social-links .hite a {
  border-color: #b7c0c8; }

.jinro .theme-borderColor-tint, .jinro .theme-borderColor-responsive, .jinro .social-links a, .social-links .jinro a {
  border-color: #b0f29d; }

@media (min-width: 1024px) {
  .hite .theme-borderColor-responsive, .hite .social-links a, .social-links .hite a {
    border-color: #213e92; }
  .jinro .theme-borderColor-responsive, .jinro .social-links a, .social-links .jinro a {
    border-color: #60bb46; } }

.hite .theme-btnOutline, .hite .btn-main {
  color: #213e92;
  border: 2px solid #213e92; }
  .hite .theme-btnOutline:hover, .hite .btn-main:hover {
    color: #ffffff;
    background-color: #213e92; }

.jinro .theme-btnOutline, .jinro .btn-main {
  color: #60bb46;
  border: 2px solid #60bb46; }
  .jinro .theme-btnOutline:hover, .jinro .btn-main:hover {
    color: #ffffff;
    background-color: #60bb46; }

.hite .theme-btnSolid, .hite .btn-sub {
  color: #213e92;
  background-color: #ffffff; }
  .hite .theme-btnSolid:hover, .hite .btn-sub:hover {
    color: #ffffff;
    background-color: #213e92; }

.jinro .theme-btnSolid, .jinro .btn-sub {
  color: #60bb46;
  background-color: #ffffff; }
  .jinro .theme-btnSolid:hover, .jinro .btn-sub:hover {
    color: #ffffff;
    background-color: #60bb46; }

*,
*:after,
*:before {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

ul {
  padding: 0; }

button {
  border: none;
  line-height: 0; }

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

::-webkit-input-placeholder {
  line-height: inherit; }

::-moz-placeholder {
  line-height: inherit; }

:-ms-input-placeholder {
  line-height: inherit; }

::placeholder {
  line-height: inherit; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.container {
  padding: 1em; }
  @media (min-width: 768px) {
    .container {
      padding: 1em 2em; } }

.logo-wrapper {
  line-height: 0;
  text-align: center; }

.headline {
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .headline {
      font-size: 2em; } }

.subtitle {
  text-transform: capitalize; }

.btn-main {
  margin: 1em 0; }

.nav-links li:hover, .social-links li:hover {
  color: #ffffff; }

.nav-links {
  text-transform: uppercase; }
  @media (min-width: 1024px) {
    .nav-links {
      font-size: 1.25em; }
      .nav-links li {
        position: relative; }
        .nav-links li:after {
          content: ' ';
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0; }
        .nav-links li:hover {
          color: inherit; }
          .hite .nav-links li:hover:after {
            background-color: #213e92; }
          .jinro .nav-links li:hover:after {
            background-color: #60bb46; } }

.social-links li {
  display: inline-block; }
  .social-links li:hover a {
    border-color: #ffffff; }
  .social-links li:last-child a {
    margin-right: 0; }

.social-links a {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.5em;
  line-height: 2.4;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s; }

@media (min-width: 1024px) {
  .hite .social-links li:hover a {
    background-color: #213e92; }
  .jinro .social-links li:hover a {
    background-color: #60bb46; } }

.footer-links {
  font-size: 0;
  margin-top: 1.5rem; }
  .footer-links a {
    font-size: 0.875rem;
    text-transform: capitalize; }

#body-inner {
  width: 100%;
  position: relative; }

#content-box {
  position: relative; }

header .mobile-logo img {
  height: 24px; }
  @media (min-width: 768px) {
    header .mobile-logo img {
      height: 32px; } }

@media (min-width: 1024px) {
  header .ctrl-links {
    display: none; } }

#links-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: margin-left 0.2s;
  transition: margin-left 0.2s;
  margin-left: -100%;
  z-index: 1; }
  .menu-open #links-panel {
    margin-left: 0;
    top: 6em; }
  #links-panel .site-logo {
    display: none; }
  #links-panel ul {
    margin: 0;
    list-style: none; }
    #links-panel ul li {
      padding: 1rem 0; }
  @media (min-width: 768px) {
    .menu-open #links-panel {
      top: 6.5em; } }
  @media (min-width: 1024px) {
    #links-panel {
      position: static;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-left: 0;
      background-color: #ffffff !important; }
      #links-panel .nav-links {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        position: relative;
        max-width: 800px;
        margin: auto; }
      #links-panel .site-logo {
        display: block;
        height: 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -60%);
                transform: translate(-50%, -60%); }
      #links-panel ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        #links-panel ul li {
          margin: auto auto auto 0; }
          #links-panel ul li:nth-child(3) {
            margin-right: 160px; }
          #links-panel ul li:last-child {
            margin-right: 0; } }

#site-toggle-bar {
  height: 2.5em; }
  #site-toggle-bar .site-toggle {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center; }
    @media (min-width: 768px) {
      #site-toggle-bar .site-toggle {
        width: 8em; } }
    #site-toggle-bar .site-toggle.active {
      background-color: #ffffff; }
      #site-toggle-bar .site-toggle.active span {
        background-position: 0 50% !important; }
    #site-toggle-bar .site-toggle span {
      display: inline-block;
      height: 100%; }
    #site-toggle-bar .site-toggle .hite {
      width: 33px;
      background: url("../img/logo_xs_hite.png") no-repeat;
      background-position: -33px 50%; }
    #site-toggle-bar .site-toggle .jinro {
      width: 46px;
      background: url("../img/logo_xs_jinro.png") no-repeat;
      background-position: -46px 50%; }

#menu-toggle {
  width: 2em;
  height: 1.5em;
  position: absolute;
  left: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  cursor: pointer; }
  @media (min-width: 768px) {
    #menu-toggle {
      width: 3em;
      height: 3em;
      margin-top: -0.5em; } }
  #menu-toggle span {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    #menu-toggle span, #menu-toggle span:before, #menu-toggle span:after {
      width: 2em;
      height: 2px;
      position: absolute; }
      @media (min-width: 768px) {
        #menu-toggle span, #menu-toggle span:before, #menu-toggle span:after {
          width: 3em; } }
    #menu-toggle span:before, #menu-toggle span:after {
      content: ' ';
      -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1); }
    #menu-toggle span:before {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px); }
    #menu-toggle span:after {
      -webkit-transform: translateY(8px);
              transform: translateY(8px); }
  #menu-toggle:hover span:before {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  #menu-toggle:hover span:after {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  #menu-toggle.open span {
    background-color: #ffffff; }
    #menu-toggle.open span:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    #menu-toggle.open span:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

footer {
  color: #ffffff;
  background-color: #909090;
  text-align: center; }
  footer ::-webkit-input-placeholder {
    color: #ffffff; }
  footer ::-moz-placeholder {
    color: #ffffff; }
  footer :-ms-input-placeholder {
    color: #ffffff; }
  footer ::placeholder {
    color: #ffffff; }
  footer .title {
    margin: 0; }
  footer .field-row {
    margin-top: 1em; }
    footer .field-row input {
      width: 20em;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      margin-right: 0.5em;
      padding: 0 0.5em;
      text-align: left;
      border-color: rgba(255, 255, 255, 0.5); }
    footer .field-row button {
      width: 8em;
      -webkit-flex-shrink: 0.8;
          -ms-flex-negative: 0.8;
              flex-shrink: 0.8; }
  .hite footer .btn-sub, .jinro footer .btn-sub {
    color: #909090; }
  footer .footer-links {
    margin-bottom: 1.5rem; }
    @media (min-width: 768px) {
      footer .footer-links li {
        display: inline-block; }
        footer .footer-links li a {
          margin: 0 1.5em; } }
  .hite footer .social-links, .jinro footer .social-links {
    color: #ffffff; }
    .hite footer .social-links a, .jinro footer .social-links a {
      border-color: #ffffff; }
  footer .copyright {
    padding: 1em 0;
    border-top: 1px solid rgba(204, 204, 204, 0.3);
    text-transform: uppercase; }
  @media (min-width: 768px) {
    footer .newsletter-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; }
    footer .title {
      margin-right: 0.5em; } }

.featured-item {
  position: relative;
  font-size: 0; }

.field-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .field-row input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    line-height: 2.5;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: none;
    text-align: center; }

body.entry, body.home.split-choice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  text-align: center; }
  body.entry #body-inner, body.home.split-choice #body-inner {
    margin: auto; }

body.entry {
  background: url("../img/entry_bg.jpg") no-repeat top center fixed;
  background-size: cover;
  color: #ffffff; }
  body.entry #body-inner {
    max-width: 26em; }
  body.entry h1 {
    margin: 0 0 1em 0; }
    @media (min-width: 768px) {
      body.entry h1 {
        margin-bottom: 1.5em; } }
  body.entry .headline {
    text-transform: capitalize; }
  body.entry form {
    font-size: 1.25em; }
  body.entry .field-row {
    margin: 1.5em 0; }
    body.entry .field-row input {
      width: 4.5em; }
  body.entry button {
    display: block;
    width: 100%;
    line-height: 2.4;
    text-transform: uppercase; }
  body.entry .footer-links a {
    color: #909090; }
    body.entry .footer-links a:hover {
      color: #ffffff; }
    body.entry .footer-links a:first-child:after {
      content: ' ';
      display: inline-block;
      width: 1px;
      height: 1em;
      margin: 0 1em;
      background-color: #909090;
      vertical-align: middle; }

body.home.split-choice:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/split_bg.jpg") no-repeat top center fixed;
  background-size: cover;
  z-index: -1; }
  @media (max-width: 767px) {
    body.home.split-choice:before {
      width: 100vh;
      background-position: 50% 30%;
      background-size: 100% 56.25%;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); } }

body.home .btn-main {
  font-size: 1.25em; }

body.news-and-events .hero {
  position: relative; }
  body.news-and-events .hero:after {
    content: ' ';
    display: block;
    background: url("../img/hite/news_events_bg.jpg") no-repeat top center fixed;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 28.59%; }
  body.news-and-events .hero .title-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff; }
    @media (min-width: 768px) {
      body.news-and-events .hero .title-wrapper .page-title {
        font-size: 3em; } }

body.news-and-events.jinro .hero:after {
  background-image: url("../img/jinro/news_events_bg.jpg"); }

body.news-and-events article {
  max-width: 800px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    body.news-and-events article {
      font-size: 1.25em; } }

#verify-day {
  margin: 0 0.5rem; }

#verify-with-input {
  color: #3b5998;
  background-color: #ffffff;
  font-weight: 600; }
  #verify-with-input + p {
    font-size: 0.75em;
    text-transform: uppercase; }

#verify-with-fb {
  color: #ffffff;
  background-color: #3b5998; }

#choices-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 768px) {
    #choices-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
  #choices-container > div {
    font-size: 0; }
    @media (max-width: 767px) {
      #choices-container > div {
        height: 50vh; } }
    @media (min-width: 768px) {
      #choices-container > div {
        height: 100vh; } }

#center-logo {
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  background: rgba(255, 255, 255, 0.8); }
  @media (min-width: 768px) {
    #center-logo {
      width: 10em;
      padding-bottom: 10em; } }
  #center-logo img {
    width: 100%;
    position: absolute;
    left: -50%;
    top: 50%;
    -webkit-transform: translate(50%, -50%) rotate(-45deg);
            transform: translate(50%, -50%) rotate(-45deg); }

#featured .text-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 1rem;
  color: #ffffff;
  text-align: center; }
  #featured .text-wrapper .headline {
    font-size: 2em;
    margin-bottom: -0.5em; }
  #featured .text-wrapper .subtitle {
    color: #909090; }

@media (min-width: 768px) {
  #featured {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    #featured .featured-item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 100%;
          -ms-flex: 1 100%;
              flex: 1 100%; }
      #featured .featured-item:nth-child(2), #featured .featured-item:nth-child(3) {
        -webkit-box-flex: 1;
        -webkit-flex: 1 50%;
            -ms-flex: 1 50%;
                flex: 1 50%; }
      #featured .featured-item:last-child {
        width: 100%;
        height: 0;
        padding-bottom: 50%;
        overflow: hidden; }
        #featured .featured-item:last-child a {
          position: absolute;
          bottom: 0; }
          #featured .featured-item:last-child a img {
            -webkit-transform: translateY(10%);
                    transform: translateY(10%); } }

@media (min-width: 1024px) {
  #featured {
    position: relative; }
    #featured .featured-item:first-child {
      -webkit-flex-basis: 50%;
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%; }
    #featured .featured-item:nth-child(2), #featured .featured-item:nth-child(3) {
      -webkit-flex-basis: 25%;
          -ms-flex-preferred-size: 25%;
              flex-basis: 25%;
      height: 0;
      padding-bottom: 21.55%;
      overflow: hidden;
      z-index: 1; }
      #featured .featured-item:nth-child(2) a, #featured .featured-item:nth-child(3) a {
        position: absolute;
        top: 0; }
    #featured .featured-item:last-child {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50%; } }

#brand-intro {
  text-align: center; }
  #brand-intro .headline {
    font-size: 3em;
    margin: 1rem 0; }
    #brand-intro .headline span {
      display: block;
      font-weight: 300; }
  @media (max-width: 767px) {
    #brand-intro .brand-logo {
      display: none; } }
  #brand-intro .brand-img {
    width: 50%; }
  @media (min-width: 768px) {
    #brand-intro {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 1em 0; }
      #brand-intro .text-wrapper, #brand-intro .img-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
      #brand-intro .text-wrapper {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 52%;
            -ms-flex: 1 1 52%;
                flex: 1 1 52%;
        max-width: 27.5em;
        text-align: left;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                    -ms-grid-row-align: flex-start;
                align-items: flex-start; }
      #brand-intro .img-wrapper {
        -webkit-box-flex: 0;
        -webkit-flex: 0 2 48%;
            -ms-flex: 0 2 48%;
                flex: 0 2 48%;
        max-width: 600px; }
      #brand-intro .headline {
        margin: 0.25rem 0 0; }
      #brand-intro .brand-img {
        width: 80%;
        margin: auto 0 auto auto; } }
  @media (min-width: 1024px) {
    #brand-intro .headline span {
      display: inline-block; } }
  @media (min-width: 1240px) {
    #brand-intro .text-wrapper {
      max-width: 30em; }
    #brand-intro .headline {
      font-size: 3.25em; }
    #brand-intro .copy {
      font-size: 1.25em; } }

#instagram {
  padding: 2rem 0;
  text-align: center; }
  #instagram .headline {
    margin: 0; }
    #instagram .headline span {
      color: #ffffff; }

@media (min-width: 1024px) {
  .lists-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .lists-container .list-container {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 600px;
          -ms-flex: 0 1 600px;
              flex: 0 1 600px; }
      .lists-container .list-container:first-child {
        margin-right: 2em; }
      .lists-container .list-container:nth-child(2n) {
        margin-left: 2em; } }

.list-container > .headline {
  display: inline-block;
  margin: 0.5rem 0 0;
  border-bottom: 10px solid; }

.list-container.hite > .headline {
  border-color: #213e92; }

.list-container.hite .btn-main {
  color: #213e92;
  border-color: #213e92; }
  .list-container.hite .btn-main:hover {
    color: white;
    background-color: #213e92; }

.list-container.jinro > .headline {
  border-color: #60bb46; }

.list-container .list {
  margin: 0;
  list-style: none; }

.list-container li {
  margin: 1em 0;
  border-bottom: 1px solid #cccccc; }
  .list-container li:last-child {
    border-bottom: none; }
  .list-container li .img-wrapper {
    display: block;
    text-align: center; }
  .list-container li .headline {
    margin: 0 0 1rem; }
  .list-container li .btn-main {
    margin-top: 0; }
  @media (min-width: 375px) {
    .list-container li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .list-container li .img-wrapper {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 33.33%;
            -ms-flex: 1 1 33.33%;
                flex: 1 1 33.33%;
        margin-right: 1em;
        text-align: left; }
      .list-container li .text-wrapper {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 66.66%;
            -ms-flex: 1 1 66.66%;
                flex: 1 1 66.66%; } }
  @media (min-width: 768px) {
    .list-container li {
      margin: 2em 0;
      padding-bottom: 1em; }
      .list-container li .img-wrapper {
        margin-right: 2em; } }
