//font
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?13245343');
  src: url('../font/fontello.eot?13245343#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?13245343') format('woff2'),
       url('../font/fontello.woff?13245343') format('woff'),
       url('../font/fontello.ttf?13245343') format('truetype'),
       url('../font/fontello.svg?13245343#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-header {
	font-family: 'proxima-nova-alt-ext-cond', 'Open Sans', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	letter-spacing: 0.08em;
	line-height: 1.2;
}

.font-header-heavy {
	@extend .font-header;
	font-weight: 600;
	letter-spacing: 0.04em;
	line-height: 1.1;
}

.font-body {
	font-family: 'proxima-nova-alt-condensed', 'Open Sans', Arial, sans-serif;
	font-style: normal;
	font-weight: 100;
	letter-spacing: 0.1em;
	line-height: 1.75;
}

.icon {
	font-family: 'fontello';
	  font-style: normal;
	  font-weight: normal;
	  speak: none;
	  text-decoration: none;
	  text-align: center;
	  font-variant: normal;
	  text-transform: none;
	  letter-spacing: 0;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
}

.icon-paper-plane:before { content: '\61'; } /* 'a' */
.icon-mail:before { content: '\65'; } /* 'e' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-instagram:before { content: '\69'; } /* 'i' */
.icon-angle-left:before { content: '\6c'; } /* 'l' */
.icon-location:before { content: '\6d'; } /* 'm' */
.icon-pinterest:before { content: '\70'; } /* 'p' */
.icon-angle-right:before { content: '\72'; } /* 'r' */
.icon-search:before { content: '\73'; } /* 's' */
.icon-twitter:before { content: '\74'; } /* 't' */

@mixin bp($point) {
    @if $point == mobile {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $point == small {
        @media (min-width: 375px) {
            @content;
        }
    }
    @else if $point == most {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $point == large {
        @media (min-width: 1024px) {
            @content;
        }
    }
    @else if $point == desktop {
        @media (min-width: 1240px) {
            @content;
        }
    }
    @else if $point == xlarge {
        @media (min-width: 1700px) {
            @content;
        }
    }
}

//color
$color-gray-dark: #676c70;
$color-gray-med: #909090;
$color-gray-light: #cccccc;
$color-hite-main: #213e92;
$color-hite-tint: #b7c0c8;
$color-jinro-main: #60bb46;
$color-jinro-tint: #b0f29d;
$color-text-main: #000000;
$color-fb: #3b5998;

$narrow-page-width: 800px;
$site-toggle-height: 2.5em;
$mobile-logo-height: 3.5em;
$tablet-logo-height: 4em;

$drop: cubic-bezier(.19,1,.22,1);

//button
.btn-basic {
	@extend .font-header-heavy;
	line-height: 1;
	display: inline-block;
	padding: 0.75em 1.5em;
	text-transform: uppercase;
	transition: background-color 0.1s;
}

@mixin btn-outline($color) {
	@extend .btn-basic;
	color: $color;
	border: 2px solid $color;
	&:hover {
		color: #ffffff;
		background-color: $color;
	}
}

@mixin btn-solid($color) {
	@extend .btn-basic;
	color: $color;
	background-color: #ffffff;
	&:hover {
		color: #ffffff;
		background-color: $color;
	}
}

//typekit font loading
.wf-loading {
	h1, h2, h3, p, a, input, button {
		visibility: hidden;
	}
}

//theme repeatable styles
.theme-bgColor {
	.hite & {
		&, &:before, &:after {
			background-color: $color-hite-main;
		}
	}
	.jinro & {
		&, &:before, &:after {
			background-color: $color-jinro-main;
		}
	}
}

.theme-color {
	.hite & {
		color: $color-hite-main;
	}
	.jinro & {
		color: $color-jinro-main;
	}
}

.theme-color-tint {
	.hite & {
		color: $color-hite-tint;
	}
	.jinro & {
		color: $color-jinro-tint;
	}
}

.theme-color-responsive {
	@extend .theme-color-tint;
	@include bp(large) {
		.hite & {
			color: $color-hite-main;
		}
		.jinro & {
			color: $color-jinro-main;
		}
	}
}

.theme-borderColor {
	.hite & {
		border-color: $color-hite-main;
	}
	.jinro & {
		border-color: $color-jinro-main;
	}
}

.theme-borderColor-tint {
	.hite & {
		border-color: $color-hite-tint;
	}
	.jinro & {
		border-color: $color-jinro-tint;
	}
}

.theme-borderColor-responsive {
	@extend .theme-borderColor-tint;
	@include bp(large) {
		.hite & {
			border-color: $color-hite-main;
		}
		.jinro & {
			border-color: $color-jinro-main;
		}
	}
}

.theme-btnOutline {
	.hite & {
		@include btn-outline($color-hite-main);
	}
	.jinro & {
		@include btn-outline($color-jinro-main);
	}
}

.theme-btnSolid {
	.hite & {
		@include btn-solid($color-hite-main);
	}
	.jinro & {
		@include btn-solid($color-jinro-main);
	}
}

//global element styles
*,
*:after,
*:before {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

ul {
	padding: 0;
	list-style-position: inside;
}

button {
	@extend .font-header;
	border: none;
	line-height: 0;
}

button:focus,
input:focus,
textarea:focus, 
select:focus {
    outline: none;
}

input, textarea {
	padding: 0 0.5em;
	color: #ffffff;
	background: none;
	border: 2px solid #ffffff;
}

input {
	line-height: 2.5;
}

::placeholder {
	@extend .font-header;
	color: #ffffff;
	line-height: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

b, strong {
	@extend .font-header-heavy;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 1em;
	@include bp(most) {
		padding: 1em 20px;
	}
}

.logo-wrapper {
	line-height: 0;
	text-align: center;
}

.page-title, .section-title {
	@extend .font-header-heavy;
	text-transform: uppercase;
}

.page-title {
	@include bp(desktop) {
		font-size: 3.5em;
	}
}

.section-title {
	margin-bottom: 0.5rem;
	@include bp(desktop) {
		font-size: 2.5em;
	}
}

.headline {
	@extend .font-header;
	text-transform: uppercase;
	@include bp(desktop) {
		font-size: 1.75em;
	}
}

.subtitle {
	text-transform: capitalize;
}

.title-wrapper {
	.page-title {
		margin: 0;
	}
	.copy {
		margin: 0.5em auto;
		@include bp(large) {
			font-size: 1.25em;
		}
	}
}

.img-wrapper {
	line-height: 0;
}

.btn-sub {
	@extend .theme-btnSolid;
}

.btn-main {
	@extend .theme-btnOutline;
	margin: 1em 0;
}

.nav-links, .social-links {
	@extend .theme-color-responsive;
	li:hover {
		color: #ffffff;
	}
}

.nav-links {
	@extend .font-header;
	text-transform: uppercase;
	@include bp(large) {
		font-size: 1.25em;
		li {
			position: relative;
			&:after {
				content: ' ';
				display: block;
				width: 100%;
				height: 4px;
				position: absolute;
				bottom: 0;
			}
			&:hover, &.active {
				color: inherit;
				&:after {
				}
				.hite &:after {
					background-color: $color-hite-main;
				}
				.jinro &:after {
					background-color: $color-jinro-main;
				}
			}
		}
	}
}

.social-links {
	li {
		display: inline-block;
		&:hover {
			a {
				border-color: #ffffff;
			}
		}
		&:last-child a {
			margin-right: 0;
		}
	}
	a {
		@extend .theme-borderColor-responsive;
		display: inline-block;
		width: 2.5em;
		height: 2.5em;
		margin-right: 0.5em;
		line-height: 2.4;
		text-align: center;
		border-style: solid;
		border-width: 2px;
		border-radius: 50%;
		transition: background-color 0.1s;
	}
	@include bp(large) {
		li:hover {
			a {
				.hite & {
					background-color: $color-hite-main;
				}
				.jinro & {
					background-color: $color-jinro-main;
				}
			}
		}
	}
}

.footer-links {
	font-size: 0;
	margin-top: 1.5rem;
	a {
		font-size: 0.875rem;
		text-transform: capitalize;
	}
}

#body-inner {
	width: 100%;
	position: relative;
}

#content-box {
	position: relative;
}

body:not(.home) {
	.text-wrapper {
		max-width: 30em;
	}
}

//header
header {
	height: $site-toggle-height + $mobile-logo-height;
	.mobile-logo img {
		height: 24px;
		@include bp(most) {
			height: 32px;
		}
	}
	.ctrl-links {
		background-color: #ffffff;
	}
	@include bp(most) {
		height: $site-toggle-height + $tablet-logo-height;
	}
	@include bp(large) {
		height: auto;
		.ctrl-links {
			display: none;
		}
	}
}

#mobile-nav-blind {
	.menu-open & {
		width: 100%;
		height: 100%;
		position: absolute;
		top: $site-toggle-height + $mobile-logo-height;
		background-color: rgba(black, 0.6);
		z-index: 1;
		@include bp(most) {
			top: $site-toggle-height + $tablet-logo-height;
		}
	}
}

#links-panel {
	@extend .theme-bgColor;
	position: absolute;
	width: 80%;
	height: 100%;
	opacity: 0;
	margin-left: -100%;
	z-index: 99;
	transition: margin-left 0.2s, opacity 0.2s;
	.menu-open & {
		margin-left: 0;
		opacity: 1;
		top: $site-toggle-height + $mobile-logo-height;
	}
	.site-logo {
		display: none;
	}
	ul {
		margin: 0;
		list-style: none;
		li {
			padding: 1em 0;
		}
	}
	@include bp(most) {
		width: 60%;
		.nav-links {
			font-size: 1.25em;
		}
		.menu-open & {
			top: $site-toggle-height + $tablet-logo-height;
		}
	}
	@include bp(large) {
		position: static;
		width: 100%;
		height: 100%;
		display: flex;
		opacity: 1;
		margin-left: auto;
		background-color: #ffffff !important;
		transition: none;
		.nav-links {
			flex-grow: 1;
			position: relative;
			max-width: $narrow-page-width;
			margin: auto;
		}
		.site-logo {
			display: block;
			height: 32px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -60%);
		}
		ul {
			display: flex;
			li {
				margin: auto auto auto 0;
				&:nth-child(3) {
					margin-right: 160px;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

#site-toggle-bar {
	@extend .theme-bgColor;
	height: $site-toggle-height;
	.site-toggle {
		display: inline-block;
		width: 50%;
		height: 100%;
		text-align: center;
		@include bp(most) {
			width: 8em;
		}
		&.active {
			background-color: #ffffff;
			span {
				background-position: 0 50% !important;
			}
		}
		span {
			display: inline-block;
			height: 100%;
		}
		.hite {
			width: 33px;
			background: url('../img/logo_xs_hite.png') no-repeat;
			background-position: -33px 50%;
		}
		.jinro {
			width: 46px;
			background: url('../img/logo_xs_jinro.png') no-repeat;
			background-position: -46px 50%;
		}
	}
}

#menu-toggle {
	width: 2em;
	height: 1.5em;
	position: absolute;
	left: 0;
	transform: translateX(50%);
	cursor: pointer;
	@include bp(most) {
		width: 3em;
		height: 3em;
		margin-top: -0.5em;
	}
	span {
		@extend .theme-bgColor;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&, &:before, &:after {
			width: 2em;
			height: 2px;
			position: absolute;
			@include bp(most) {
				width: 3em;
			}
		}
		&:before, &:after {
			content: ' ';
			transition: transform 0.2s $drop;	
		}
		&:before {
			transform: translateY(-8px);
		}
		&:after {
			transform: translateY(8px);
		}
	}
	&:hover {
		span {
			&:before {
				transform: translateY(-10px);
			}
			&:after {
				transform: translateY(10px);
			}
		}
	}
	&.open {
		span {
			background-color: #ffffff;
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
}

footer {
	color: #ffffff;
	background-color: $color-gray-med;
	text-align: center;
	::placeholder {
		color: #ffffff;
	}
	.title {
		margin: 0;
	}
	.field-row {
		margin-top: 1em;
		form {
			max-width: 100%;
			display: flex;
		}
		input {
			width: 20em;
			max-width: 100%;
			flex: 1 1 auto;
			margin-right: 0.5em;
			text-align: left;
			border-color: rgba(#ffffff, 0.5);
		}
		button {
			width: 8em;
			flex-shrink: 0.8;
		}
	}
	.hite &, .jinro & {
		.btn-sub {
			color: $color-gray-med;
		}
	}
	.footer-links {
		margin-bottom: 1.5rem;
		li:hover {
			@extend .theme-color;
		}
		@include bp(most) {
			li {
				display: inline-block;
				a {
					margin: 0 1.5em;
				}
			}
		}
	}
	.social-links {
		.hite &, .jinro & {
			color: #ffffff;
			a {
				border-color: #ffffff;
			}			
		}
		li:hover {
			a {
				@extend .theme-borderColor;
			}
		}
	}
	.copyright {
		padding: 1em 0;
		border-top: 1px solid rgba($color-gray-light, 0.3);
		text-transform: uppercase;
	}
	@include bp(most) {
		.newsletter-container {
			display: flex;
			justify-content: center;
			align-items: baseline;
		}
		.title {
			margin-right: 0.5em;
		}
	}
}

.featured-item {
	position: relative;
	font-size: 0;
	background-color: #000000;
	overflow: hidden;
	a {
		width: 100%;
	}
	img {
		transition: transform 0.2s, opacity 0.2s;
	}
	.text-wrapper {
		transition: padding-bottom 0.1s;
	}
	&:hover {
		img {
			transform: scale3d(1.08,1.08,1.08);
			opacity: 0.5;
		}
		.text-wrapper {
			padding-bottom: 1em;
		}
	}
}

.field-row {
	display: flex;
	justify-content: center;
	input {
		flex: 1;
		text-align: center;
	}
}

.page-hero {
	position: relative;
	&:after {
		@extend .theme-bgColor;
		content: ' ';
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		background-size: cover;
		@include bp(most) {
			padding-bottom: 28.59%;
			background-position: 50% 13%;
			background-size: contain;
		}
		@include bp(large) {
			background-size: cover;
			background-position: 50% 35%;
		}
	}
	.title-wrapper {
		@extend .container;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: #ffffff;
		.copy {
			max-width: 30em;
			margin-bottom: 0;
		}
	}
}

.product-top-content {
	color: #ffffff;
	text-align: center;
	* {
		max-width: 870px;
		margin: 1rem auto;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

.list-container {
	> .headline {
		@extend .font-header-heavy;
		margin: 0.5rem 0 0;
	}
	.list {
		margin: 0;
		list-style: none;
	}
	li {
		margin: 1em 0;
		border-bottom: 1px solid $color-gray-light;
		&:last-child {
			border-bottom: none;
		}
		.headline {
			margin: 0 0 1rem;
		}
		.btn-main {
			margin-top: 0;
		}
		@include bp(most) {
			margin: 2em 0;
			padding-bottom: 1em;
		}
	}
}

.product, .recipe {
	.btn-main {
		display: none;
	}
	&.odd {
		background: none;
	}
	.img-wrapper {
		display: flex;
		align-items: flex-end;
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: contain;
	}
	.text-wrapper {
		@extend .container;
		.headline {
			@extend .font-header-heavy;
			@extend .theme-color;
			margin: 0.5rem 0 0;
		}
	}
}

.product {
	.img-wrapper {
		@extend .theme-bgColor;
		justify-content: center;
		padding-top: 1em;
	}
	// .text-wrapper {
	// 	.headline {
	// 		@extend .theme-color;
	// 	}
	// }
	.hite & {
		.img-wrapper {
			background-image: url('../img/hite/product_light.png');
		}
	}
	.jinro & {
		.img-wrapper {
			background-image: url('../img/jinro/product_light.png');
		}
	}
	@include bp(most) {
		display: flex;
		justify-content: center;
		align-items: center;
		.img-wrapper {
			flex: 1 1 auto;
			max-width: 480px;
			align-self: flex-end;
			order: 1;
			margin-top: 2em;
		}
		.text-wrapper {
			flex: 0 1 480px;
			margin: 0;
		}
		.headline {
			font-size: 2em;
		}
		&.odd {
			.img-wrapper {
				order: 0;
			}
			.hite & {
				color: #ffffff;
				background-color: $color-hite-main;
				.headline {
					color: #ffffff !important;
				}
				.btn-main {
					color: #ffffff;
					border-color: #ffffff;
				}
			}
			.jinro & {
				.img-wrapper {
					background: initial;
				}
			}
		}	
		&:not(.odd) {
			.img-wrapper {
				max-width: 400px;
			}
			.hite & {
				.img-wrapper {
					background: initial;
				}
			}
			.jinro & {
				color: #ffffff;
				background-color: $color-jinro-main;
				.headline {
					color: #ffffff !important;
				}
				.btn-main {
					color: #ffffff;
					border-color: #ffffff;
				}
			}
		}	
	}
	@include bp(large) {
		.img-wrapper {
			margin-top: 3em;
		}
		.text-wrapper {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.recipe {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	.img-wrapper {
		flex: 0 0 40%;
		justify-content: flex-end;
		order: 1;
	}
	.text-wrapper {
		max-width: 300px !important;
		flex: 0 1 auto;
		padding-top: 0;
		padding-bottom: 0;
		ul {
			margin-bottom: 0;
		}
	}
	&.odd {
		// &:after {
		// 	transform: rotate(-10deg) translate(-55%, -20%);
		// }
		.img-wrapper {
			justify-content: flex-start;
			order: 0;
		}
	}
	@include bp(large) {
		align-items: flex-start;
		&:nth-child(4n+3) {
			&, & + .recipe {
				color: white;
				background-color: $color-jinro-main;
				.headline {
					color: white !important;
				}
			}
		}
		.text-wrapper {
			margin-top: 10%;
		}
	}
	// &:not(.odd) {
	// 	&:after {
	// 		transform: rotate(10deg) translate(55%, -10%);
	// 	}
	// }
	// @include bp(most) {
	// 	&:after {
	// 		@extend .theme-bgColor;
	// 		content: ' ';
	// 		width: 100%;
	// 		height: 180%;
	// 		position: absolute;
	// 		top: 0;
	// 		right: 0;
	// 		opacity: 0.8;
	// 		z-index: -1;
	// 	}
	// 	.text-wrapper {
	// 		z-index: 1;
	// 	}
	// }
}

.online-retailers {
	a {
		@extend .theme-bgColor;
		color: #ffffff;
		padding: 4px 8px;
		&:hover {
			text-decoration: underline;
		}
		@include bp(most) {
			font-size: 1.5em;
		}
	}
}

.fb-container {
	text-align: center;
}

//body
body {
	@extend .font-body;
	&.entry, &.home.split-choice {
		display: flex;
		flex-direction: column;
		height: 100vh;
		text-align: center;
		#body-inner {
			margin: auto;
		}
	}
	&.entry {
		background: url('../img/entry_bg.jpg') no-repeat top center fixed;
		background-size: cover;
		color: #ffffff;
		#body-inner {
			max-width: 26em;
		}
		h1 {
			margin: 0 0 1em 0;
			@include bp(most) {
				margin-bottom: 1.5em;
			}
		}
		.headline {
			text-transform: capitalize;
		}
		form {
			font-size: 1.25em;
		}
		.field-row {
			margin: 1.5em 0;
			input {
				width: 4.5em;
				flex: 1 1 auto;
			}
		}
		button {
			display: block;
			width: 100%;
			line-height: 2.4;
			text-transform: uppercase;
		}
		.footer-links {
			a {
				color: $color-gray-med;
				&:hover {
					color: #ffffff;
				}
				&:first-child:after {
					content: ' ';
					display: inline-block;
					width: 1px;
					height: 1em;
					margin: 0 1em;
					background-color: $color-gray-med;
					vertical-align: middle;
				}
			}
		}
	}
	&.home {
		&.split-choice {
			&:before {
				content: ' ';
				position: absolute;
				width: 100%;
				height: 100vh;
				top: 0;
				left: 0;
				background-repeat: no-repeat;
				background-position: center center;
				background-attachment: fixed;
				background-image: url('../img/split_bg_mobile.jpg');
				background-size: cover;
				// z-index: -1;
				@include bp(most) {
					background-image: url('../img/split_bg.jpg');
				}
			}
		}
		.btn-main {
			font-size: 1.25em;
		}
	}
	&.about {
		strong {
			text-decoration: underline;
		}
		.text-wrapper {
			text-align: center;
			margin: auto;
			.headline {
				font-size: 1.5em;
				margin-bottom: -0.5rem;
				@include bp(desktop) {
					font-size: 2em;
				}
			}
		}
		.section-header:after, .section-body:before {
			content: ' ';
			display: block;
			background-color: #000000;
			left: 50%;			
		}
		.section-header {
			&:after {
				width: 1em;
				height: 1px;
				position: relative;
				transform: translateX(-50%);
			}
			.page-hero:after {
				@include bp(most) {
					padding-bottom: 41.45%;
				}
			}
			.page-title {
				display: flex;
				justify-content: space-between;
				@include bp(most) {
					align-self: center;					
				}
			}
			.img-wrapper {
				height: 20em;
				position: relative;
				margin-top: -15em;
				text-align: center;
				@include bp(small) {
					height: 25em;
					margin-top: -19em;
				}
				@include bp(large) {
					height: 30em;
					margin-top: -22em;
				}
				@include bp(desktop) {
					height: 35em;
					margin-top: -27em;
				}
				@include bp(xlarge) {
					height: 45em;
					margin-top: -36em;
				}
			}
		}
		.section-body {
			position: relative;
			padding: 3em 0;
			&:before {
				width: 1px;
				height: 100%;
				position: absolute;
				top: 0;
			}
			> * {
				position: relative;
			}
			.title-wrapper {
				text-shadow: 0 0 2em #000000;
			}
			.text-wrapper, .img-wrapper {
				background-color: #ffffff;
			}
			.text-wrapper {
				padding: 1em;
				margin-top: 1em;
				margin-bottom: 2em;
				&:first-child {
					border: 1px solid #000000;
				}
			}
			.img-wrapper {
				margin-bottom: 2em;
				@include bp(most) {
					width: 44%;
					position: relative;
					&:before {
						content: ' ';
						display: block;
						width: 13.64%;
						height: 1px;
						position: absolute;
						top: 50%;
						right: -6%;
						transform: translateX(50%);
						background-color: #000000;
					}
					&:nth-of-type(3) {
						margin: 0 0 0 auto;
						&:before {
							left: -6%;
							right: initial;
							transform: translateX(-50%);
						}
					}
				}
			}
		}
		.section-footer {
			.page-hero:after {
				padding-bottom: 150%;
				@include bp(most) {
					padding-bottom: 35.94%;
				}
			}
		}
		&.hite {
			.section-header .page-hero:after {
				background-image: url('../img/hite/about_header_hero.jpg');
			}
			.section-body .page-hero:after {
				background-image: url('../img/hite/about_body_hero.jpg');
			}
			.section-footer .page-hero:after {
				background-image: url('../img/hite/about_footer_hero.jpg');
			}
			.section-header .page-title {
				@include bp(most) {
					min-width: 13em;
				}
			}
			.section-footer {
				.copy {
					&:before {
						content: ' ';
						display: block;
						width: 100px;
						height: 72px;
						margin: 1em auto;
						background: url('../img/hite/about_icon.png') no-repeat top center;
						background-size: 200px auto;
					}
					&:first-of-type:before {
						background-position: left center;
					}
					&:nth-of-type(2):before {
						background-position: right center;
					}
				}
				@include bp(most) {
					.copy-wrapper {
						display: flex;
					}
					.copy {
						max-width: 20.5em;
						&:before {
							margin: 0 auto 0.5em;
						}
					}
				}
				@include bp(large) {
					.copy:before {
						width: 150px;
						height: 107px;
						background-size: 200% auto;
					}
				}
			}
		}
		&.jinro {
			.section-header .page-hero:after {
				background-image: url('../img/jinro/about_header_hero.jpg');
			}
			.section-body .page-hero:after {
				background-image: url('../img/jinro/about_body_hero.jpg');
			}
			.section-footer .page-hero:after {
				background-image: url('../img/jinro/about_footer_hero.jpg');
			}
			.section-header {
				.page-title {
					min-width: 18em;
					span:first-child {
						margin: 0 3em 0 auto;
					}
				}
			}
		}
	}
	&.products {
		.product {
			img {
				height: 240px;
				@include bp(most) {
					height: 450px;
				}
			}
		}
		&.jinro {
			.product-top-content {
				background: $color-jinro-main url('../img/jinro/products_bg.jpg') no-repeat center center;
				background-size: cover;
				padding-bottom: 1em;
				@include bp(large) {
					padding: 2em 0 4em;
				}
				.container {
					margin-bottom: 0;
				}
				p:nth-of-type(1) {
					@extend .page-title;
					@include bp(mobile) {
						font-size: 1.5em;
					}
					@include bp(most) {
						font-size: 2em;
					}
				}
			}
		}
	}
	&.news-and-events, &.fan-page {
		article {
			max-width: $narrow-page-width;
			margin: 0 auto;
			@include bp(large) {
				font-size: 1.25em;
			}
			.section-title {
				text-align: center;
			}
		}
	}
	&.news-and-events {
		&.hite .page-hero:after {
			background-image: url('../img/hite/news_events_bg.jpg');
		}
		&.jinro .page-hero:after {
			background-image: url('../img/jinro/news_events_bg.jpg');
		}		
		.section-title {
			margin: 0.5rem 0 0;
		}
		.list-container {
			&.hite {
				.section-title {
					border-color: $color-hite-main;
				}
				.btn-main {
					color: $color-hite-main;
					border-color: $color-hite-main;
					&:hover {
						color: white;
						background-color: $color-hite-main;
					}
				}
			}
			&.jinro {
				.section-title {
					border-color: $color-jinro-main;
				}
			}
			li {
				.img-wrapper {
					display: block;
					text-align: center;
					margin-bottom: 1em;
				}
				@include bp(small) {
					display: flex;
					.img-wrapper {
						flex: 1 1 33.33%;
						margin-right: 1em;
						text-align: left;
					}
					.text-wrapper {
						flex: 1 1 66.66%;
					}
				}
			}
		}
		.fb-container {
			.section-title {
				margin-bottom: 1rem;
			}
		}
		@include bp(most) {
			.page-content {
				display: flex;
			}
			.lists-container {
				flex: 1 1 auto;
			}
			.fb-container {
				flex: 0 0 300px;
				.section-title {
					margin-bottom: 2rem;
				}
			}
		}
		@include bp(desktop) {
			.fb-container {
				flex: 0 0 340px;
			}
			.lists-container {
				display: flex;
				justify-content: center;
				.list-container {
					flex: 0 1 600px;
					margin-right: 2em;
				}
			}
		}
	}
	&.where-to-buy {
		#content-box {
			text-align: center;
			.img-wrapper {
				position: relative;
				.title-wrapper {
					position: absolute;
					width: 100%;
					height: 100%;
					color: $color-gray-light;
					background-color: rgba(#000000, 0.5);
					display: flex;
					flex-direction: column;
					justify-content: center;
					text-shadow: 0 0 3em rgba(#000000, 0.5);
				}
			}
		}
	}
	&.fan-page {
		.page-hero:after {
			background-image: url('../img/hite/fan_bg.jpg');
		}
		.list-container .title-wrapper {
			margin-bottom: 2em;
		}
		@include bp(small) {
			#fans-image {
				line-height: 0;
				img:nth-child(2), img:nth-child(3) {
					width: 50%;
					float: left;
				}
			}
		}
		@include bp(most) {
			.page-content {
				display: flex;
			}
			.lists-container {
				flex: 1 1 auto;
				margin-right: 5em;
				.headline {
					@extend .font-header-heavy;
				}
				.date {
					@extend .font-body;
				}
			}
			#fans-image {
				flex: 0 1 400px;
			}
		}
	}
	&.recipes {
		@include bp(large) {
			#content-box {
				display: flex;
				flex-wrap: wrap;
			}
			.recipe {
				flex: 1 1 50%;
				padding-top: 2em;
			}
		}
	}
	&.contact {
		&.hite main {
			background-color: $color-hite-main;
			background-image: url('../img/hite/contact_bg2.jpg');
		}
		&.jinro main {
			background-color: $color-jinro-main;
			background-image: url('../img/jinro/contact_bg2.jpg');
		}
		// @include bp(most) {
		// 	&.hite main {
		// 		background-image: url('../img/hite/contact_bg.png');
		// 	}
		// 	&.jinro main {
		// 		background-image: url('../img/jinro/contact_bg.png');
		// 	}
		// }
		main {
			color: #ffffff;
			position: relative;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			&:before {
				content: ' ';
				display: block;
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.5);
			}
			// .container {
			// 	max-width: $narrow-page-width;
			// }
			@include bp(most) {
				// background-repeat: no-repeat;
				// background-position: 50% 50%;
				// background-size: cover;
				.title-wrapper, form {
					max-width: 400px;
					margin: auto;
				}				
			}
			@include bp(large) {
				min-height: 624px;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			@include bp(desktop) {
				min-height: 700px;
			}
		}
	}
	&.terms-and-conditions, &.privacy-policy {
		.content {
			@extend .container;
			max-width: $narrow-page-width;
			.title {
				@extend .page-title;
			}
		}
	}
}

#verify-day {
	margin: 0 0.5rem;
}
#verify-with-input {
	color: $color-fb;
	background-color: #ffffff;
	font-weight: 600;
	+ p {
		font-size: 0.75em;
		text-transform: uppercase;
	}
}
#verify-with-fb {
	color: #ffffff;
	background-color: $color-fb;
}

#choices-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include bp(most) {
		flex-direction: row;
		justify-content: space-around;
	}
	.choice {
		font-size: 0;
		@include bp(mobile) {
			height: 50vh;
		}
		@include bp(most) {
			width: 50%;
			height: 100vh;
			flex: 1 1 auto;
			overflow: hidden;
			&:after {
				content: ' ';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 50vw;
				height: 100vh;
				background-color: rgba(#000000, 0.3);
				transition: background-color 0.2s;
			}
			&:last-child:after {
				left: initial;
				right: 0;
			}
			a {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				position: relative;
				z-index: 1;
			}
			img {
				transition: transform 0.2s;
			}
			&:hover {
				&:after {
					background-color: transparent;
				}
				img {
					transform: scale3d(1.08,1.08,1.08);
				}
			}
		}
	}
}

#center-logo {
	width: 30%;
	height: 0;
	padding-bottom: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background: rgba(#ffffff, 0.8);
	@include bp(most) {
		width: 10em;
		padding-bottom: 10em;
	}
	img {
		width: 100%;
		position: absolute;
		left: -50%;
		top: 50%;
		transform: translate(50%, -50%) rotate(-45deg);
	}
}

#featured {
	.text-wrapper {
		position: absolute;
		width: 100%;
		bottom: 0;
		font-size: 1rem;
		color: #ffffff;
		text-align: center;
		.headline {
			font-size: 2em;
			margin-bottom: -0.5em;
		}
		.subtitle {
			color: $color-gray-light;
		}
	}
	@include bp(most) {
		display: flex;
		flex-wrap: wrap;
		.featured-item {
			flex: 1 100%;
			&:nth-child(2), &:nth-child(3) {
				flex: 1 50%;
			}
			&:last-child {
				width: 100%;
				height: 0;
				padding-bottom: 50vw;
				a {
					position: absolute;
					bottom: 0;
					img {
						transform: translateY(10%);
					}
				}
			}
		}
	}
	@include bp(large) {
		position: relative;
		overflow: hidden;
		.featured-item {
			&:first-child {
				flex-basis: 50%;
			}
			&:nth-child(2), &:nth-child(3) {
				flex-basis: 25%;
				z-index: 1;
				height: 0;
				padding-bottom: 21.51vw;					
				a {
					position: absolute;
					top: 0;
				}
			}
			&:last-child {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 50%;
			}
		}
	}
}

#brand-intro {
	text-align: center;
	.headline {
		@extend .font-header-heavy;
		@extend .theme-color;
		font-size: 3em;
		margin: 1rem 0;
		span {
			display: block;
			font-weight: 300;
		}
	}
	.brand-logo {
		@include bp(mobile) {
			display: none;
		}
	}
	.brand-img {
		width: 50%;
	}
	@include bp(most) {
		display: flex;
		justify-content: center;
		margin: 1em auto;
		.text-wrapper, .img-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.text-wrapper {
			flex: 1 1 52%;
			max-width: 27.5em;
			text-align: left;
			align-items: flex-start;
		}
		.img-wrapper {
			flex: 0 2 48%;
			max-width: 560px;
		}
		.headline {
			margin: 0.25rem 0 0;
		}
		.brand-img {
			width: 80%;
			margin: auto 0 auto auto;
		}
	}
	@include bp(large) {
		.headline span {
			display: inline-block;
		}
	}
	@include bp(desktop) {
		.headline {
			font-size: 3.25em;
		}
		.copy {
			font-size: 1.25em;
		}
	}
}

#instafeed-wrapper {
	@extend .theme-bgColor;
	@extend .theme-color-tint;
	padding: 1rem 0 0;
	text-align: center;
	.headline {
		span {
			@extend .font-header-heavy;
			color: #ffffff;
		}
	}
	@include bp(large) {
		padding-bottom: 3rem;
	}
}

#instafeed {
	display: flex;
	flex-wrap: wrap;
	height: 0;
	padding-bottom: 66.67vw;
	a {
		flex: 1 1 33.33%;
		max-width: 33.33%;
		height: 33.33vw;
		line-height: 0;
	}
	@include bp(large) {
		flex-wrap: nowrap;
		justify-content: center;
		height: auto;
		padding-bottom: 0;
		a {
			flex: 0 1 150px;
			max-width: 150px;
			height: auto;
		}
	}
	@include bp(desktop) {
		a {
			flex-basis: 200px;
			max-width: 200px;
		}
	}
}

#webform-contact {
	input, textarea {
		width: 100%;
	}
	.field-submit {
		margin-bottom: 0;
		padding-top: 0;
		input {
			@extend .btn-sub;
			&:hover {
				@extend .theme-borderColor;
			}
		}
	}
}








