//font
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?13245343');
  src: url('../font/fontello.eot?13245343#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?13245343') format('woff2'),
       url('../font/fontello.woff?13245343') format('woff'),
       url('../font/fontello.ttf?13245343') format('truetype'),
       url('../font/fontello.svg?13245343#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-header {
	font-family: 'proxima-nova-alt-ext-cond', 'Open Sans', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	letter-spacing: 0.12em;
	line-height: 1.2;
}

.font-header-heavy {
	@extend .font-header;
	font-weight: 600;
	letter-spacing: 0.04em;
	line-height: 1.1;
}

.font-body {
	font-family: 'proxima-nova-alt-condensed', 'Open Sans', Arial, sans-serif;
	font-style: normal;
	font-weight: 100;
	letter-spacing: 0.1em;
	line-height: 1.75;
}

.font-serif {
	font-family: 'pt-serif', Georgia, serif;
	font-style: normal;
	font-weight: 400;	
	letter-spacing: 0.05em;
}

.icon {
	font-family: "fontello";
	  font-style: normal;
	  font-weight: normal;
	  speak: none;
	  text-decoration: none;
	  text-align: center;
	  font-variant: normal;
	  text-transform: none;
	  letter-spacing: 0;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
}

.icon-paper-plane:before { content: '\61'; } /* 'a' */
.icon-mail:before { content: '\65'; } /* 'e' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-instagram:before { content: '\69'; } /* 'i' */
.icon-angle-left:before { content: '\6c'; } /* 'l' */
.icon-location:before { content: '\6d'; } /* 'm' */
.icon-pinterest:before { content: '\70'; } /* 'p' */
.icon-angle-right:before { content: '\72'; } /* 'r' */
.icon-search:before { content: '\73'; } /* 's' */
.icon-twitter:before { content: '\74'; } /* 't' */

@mixin bp($point) {
    @if $point == mobile {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $point == most {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $point == large {
        @media (min-width: 1024px) {
            @content;
        }
    }
    @else if $point == desktop {
        @media (min-width: 1240px) {
            @content;
        }
    }
    @else if $point == xlarge {
        @media (min-width: 1700px) {
            @content;
        }
    }
}

//color
$color-gray-dark: #676c70;
$color-gray-med: #909090;
$color-gray-light: #e8e9ea;
$color-hite-main: #16284c;
$color-hite-tint: #b7c0c8;
$color-jinro-main: #60bb46;
$color-jinro-tint: #b0f29d;
$color-text-main: #000000;
$color-fb: #3b5998;

$site-toggle-height: 2.5em;

$drop: cubic-bezier(.19,1,.22,1);

//button
.btn-basic {
	@extend .font-header;
	display: inline-block;
	padding: 0.75em 1.5em;
	text-transform: uppercase;
	transition: background-color 0.1s;
}

@mixin btn-outline($color) {
	@extend .btn-basic;
	color: $color;
	border: 2px solid $color;
	&:hover {
		color: #ffffff;
		background-color: $color;
	}
}

@mixin btn-solid($color) {
	@extend .btn-basic;
	color: $color;
	background-color: #ffffff;
	&:hover {
		color: #ffffff;
		background-color: $color;
	}
}

//typekit font loading
.wf-loading {
	h2, p, a {
		visibility: hidden;
	}
}

//theme repeatable styles
.theme-bgColor {
	.hite & {
		&, &:before, &:after {
			background-color: $color-hite-main;
		}
	}
	.jinro & {
		&, &:before, &:after {
			background-color: $color-jinro-main;
		}
	}
}

.theme-color {
	.hite & {
		color: $color-hite-main;
	}
	.jinro & {
		color: $color-jinro-main;
	}
}

.theme-color-tint {
	.hite & {
		color: $color-hite-tint;
	}
	.jinro & {
		color: $color-jinro-tint;
	}
}

.theme-color-responsive {
	@extend .theme-color-tint;
	@include bp(large) {
		.hite & {
			color: $color-hite-main;
		}
		.jinro & {
			color: $color-jinro-main;
		}
	}
}

.theme-borderColor {
	.hite & {
		border-color: $color-hite-main;
	}
	.jinro & {
		border-color: $color-jinro-main;
	}
}

.theme-borderColor-tint {
	.hite & {
		border-color: $color-hite-tint;
	}
	.jinro & {
		border-color: $color-jinro-tint;
	}
}

.theme-borderColor-responsive {
	@extend .theme-borderColor-tint;
	@include bp(large) {
		.hite & {
			border-color: $color-hite-main;
		}
		.jinro & {
			border-color: $color-jinro-main;
		}
	}
}

.theme-btnOutline {
	.hite & {
		@include btn-outline($color-hite-main);
	}
	.jinro & {
		@include btn-outline($color-jinro-main);
	}
}

.theme-btnSolid {
	.hite & {
		@include btn-solid($color-hite-main);
	}
	.jinro & {
		@include btn-solid($color-jinro-main);
	}
}

//global element styles
*,
*:after,
*:before {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

ul {
	padding: 0;
}

button {
	@extend .font-header;
	border: none;
	line-height: 0;
}

button:focus,
input:focus,
textarea:focus, 
select:focus {
    outline: none;
}

::placeholder {
	@extend .font-header;
	line-height: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.container {
	padding: 1em;
	@include bp(most) {
		padding: 1em 2em;
	}
}

.logo-wrapper {
	line-height: 0;
	text-align: center;
}

.headline {
	@extend .font-header;
	text-transform: uppercase;
	@include bp(most) {
		font-size: 2em;
	}
}

.subtitle {
	@extend .font-serif;
	text-transform: capitalize;
}

.btn-sub {
	@extend .theme-btnOutline;
	font-size: 1.25em;
	margin: 1em 0;
}

.btn-main {
	@extend .theme-btnSolid;
}

.nav-links, .social-links {
	@extend .theme-color-responsive;
	li:hover {
		color: #ffffff;
	}
}

.nav-links {
	@extend .font-header;
	text-transform: uppercase;
	@include bp(large) {
		font-size: 1.25em;
		li {
			position: relative;
			&:after {
				content: ' ';
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				bottom: 0;
			}
			&:hover {
				color: inherit;
				&:after {
				}
				.hite &:after {
					background-color: $color-hite-main;
				}
				.jinro &:after {
					background-color: $color-jinro-main;
				}
			}
		}
	}
}

.social-links {
	li {
		display: inline-block;
		&:hover {
			a {
				border-color: #ffffff;
			}
		}
		&:last-child a {
			margin-right: 0;
		}
	}
	a {
		@extend .theme-borderColor-responsive;
		display: inline-block;
		width: 2.5em;
		height: 2.5em;
		margin-right: 0.5em;
		line-height: 2.4;
		text-align: center;
		border-style: solid;
		border-width: 2px;
		border-radius: 50%;
		transition: background-color 0.1s;
	}
	@include bp(large) {
		li:hover {
			a {
				.hite & {
					background-color: $color-hite-main;
				}
				.jinro & {
					background-color: $color-jinro-main;
				}
			}
		}
	}
}

.footer-links {
	font-size: 0;
	margin-top: 1.5rem;
	a {
		@extend .font-serif;
		font-size: 0.875rem;
		text-transform: capitalize;
	}
}

#body-inner {
	width: 100%;
}

#content-box {
	position: relative;
}

//header
header {
	&.site-header {
		background-color: #ffffff;
		.ctrl-links {
			position: relative;
		}
		.site-logo {
			text-align: center;
		}
	}
	&.menu-open {
		position: fixed;
		width: 100%;
		z-index: 11;
		&.site-header {
			position: absolute;
			height: 100%;
			top: 2.5rem;
			z-index: 1;
		}
		.ctrl-links {
			position: fixed;
			width: 100%;
			top: $site-toggle-height;
			z-index: 11;
			background-color: #ffffff;
		}
	}
	@include bp(large) {
		&, &.site-header {
			position: relative;
		}
		& .ctrl-links {
			display: none;
		}
	}
}

#links-panel {
	@extend .theme-bgColor;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: margin-left 0.2s;
	margin-left: -100%;
	color: #ffffff;
	.menu-open & {
		margin-left: 0;
		top: 3.25em;
	}
	.site-logo {
		display: none;
	}
	ul {
		margin: 0;
		list-style: none;
		li {
			padding: 1rem 0;
		}
	}
	@include bp(most) {
		.menu-open & {
			top: 5em;
		}
	}
	@include bp(large) {
		display: flex;
		position: static;
		margin-left: 0 ;
		background-color: #ffffff !important;
		.nav-links {
			flex-grow: 1;
			position: relative;
			max-width: 800px;
			margin: auto;
		}
		.site-logo {
			display: block;
			height: 32px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -60%);
		}
		ul {
			display: flex;
			li {
				margin: auto auto auto 0;
				&:nth-child(3) {
					margin-right: 160px;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

#site-toggle-bar {
	@extend .theme-bgColor;
	height: $site-toggle-height;
	.site-toggle {
		display: inline-block;
		width: 50%;
		height: 100%;
		text-align: center;
		@include bp(most) {
			width: 8em;
		}
		&.active {
			background-color: #ffffff;
			span {
				background-position: 0 50% !important;
			}
		}
		span {
			display: inline-block;
			height: 100%;
		}
		.hite {
			width: 33px;
			background: url('../img/logo_xs_hite.png') no-repeat;
			background-position: -33px 50%;
		}
		.jinro {
			width: 46px;
			background: url('../img/logo_xs_jinro.png') no-repeat;
			background-position: -46px 50%;
		}
	}
}

#menu-toggle {
	width: 2em;
	height: 1.5em;
	position: absolute;
	left: 0;
	transform: translateX(50%);
	cursor: pointer;
	@include bp(most) {
		width: 3em;
		height: 3em;
	}
	span {
		@extend .theme-bgColor;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&, &:before, &:after {
			width: 2em;
			height: 2px;
			position: absolute;
			@include bp(most) {
				width: 3em;
			}
		}
		&:before, &:after {
			content: ' ';
			transition: transform 0.2s $drop;	
		}
		&:before {
			transform: translateY(-8px);
		}
		&:after {
			transform: translateY(8px);
		}
	}
	&:hover {
		span {
			&:before {
				transform: translateY(-10px);
			}
			&:after {
				transform: translateY(10px);
			}
		}
	}
	&.open {
		span {
			background-color: #ffffff;
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
}

footer {
	color: #ffffff;
	background-color: $color-gray-med;
	text-align: center;
	::placeholder {
		color: #ffffff;
	}
	.title {
		margin: 0;
	}
	.field-row {
		margin-top: 1em;
		input {
			width: 20em;
			flex: 1 1 auto;
			margin-right: 0.5em;
			padding: 0 0.5em;
			text-align: left;
			border-color: rgba(#ffffff, 0.5);
		}
		button {
			width: 8em;
			flex-shrink: 0.8;
		}
	}
	.footer-links {
		margin-bottom: 1.5rem;
		li:hover {
			@extend .theme-color;
		}
		@include bp(most) {
			li {
				display: inline-block;
				a {
					margin: 0 1.5em;
				}
			}
		}
	}
	.social-links {
		.hite &, .jinro & {
			color: #ffffff;
			a {
				border-color: #ffffff;
			}			
		}
		li:hover {
			a {
				@extend .theme-borderColor;
			}
		}
	}
	.copyright {
		padding: 1em 0;
		border-top: 1px solid rgba($color-gray-light, 0.3);
		text-transform: uppercase;
	}
	@include bp(most) {
		.newsletter-container {
			display: flex;
			justify-content: center;
			align-items: baseline;
		}
		.title {
			margin-right: 0.5em;
		}
	}
}

.featured-item {
	position: relative;
	font-size: 0;
}

.field-row {
	display: flex;
	justify-content: space-between;
	input {
		flex: 1;
		line-height: 2.5;
		border: 2px solid #ffffff;
		color: #ffffff;
		background: none;
		text-align: center;
	}
}

//body
body {
	@extend .font-body;
	&.entry, &.home.split-choice {
		display: flex;
		flex-direction: column;
		height: 100vh;
		text-align: center;
		#body-inner {
			margin: auto;
		}
	}
	&.entry {
		background: url('../img/entry_bg.jpg') no-repeat top center fixed;
		background-size: cover;
		color: #ffffff;
		#body-inner {
			max-width: 25em;
		}
		h1 {
			margin: 0 0 1em 0;
			@include bp(most) {
				margin-bottom: 1.5em;
			}
		}
		.headline {
			text-transform: capitalize;
		}
		form {
			font-size: 1.25em;
		}
		.field-row {
			margin: 1.5em 0;
			input {
				width: 4.5em;
			}
		}
		button {
			display: block;
			width: 100%;
			line-height: 2.4;
			text-transform: uppercase;
		}
		.footer-links {
			a {
				color: $color-gray-med;
				&:hover {
					color: #ffffff;
				}
				&:first-child:after {
					content: ' ';
					display: inline-block;
					width: 1px;
					height: 1em;
					margin: 0 1em;
					background-color: $color-gray-med;
					vertical-align: middle;
				}
			}
		}
	}
	&.home {
		&.split-choice {
			&:before {
				content: ' ';
				position: absolute;
				width: 100%;
				height: 100%;
				background: url('../img/split_bg.jpg') no-repeat top center fixed;
				background-size: cover;
				z-index: -1;				
				@include bp(mobile) {
					width: 100vh;
					background-position: 50% 30%;
					background-size: 100% 56.25%;
					transform: rotate(90deg);
				}
			}
		}
	}
}

#verify-day {
	margin: 0 0.5rem;
}
#verify-with-input {
	color: $color-fb;
	background-color: #ffffff;
	font-weight: 600;
	+ p {
		font-size: 0.75em;
		text-transform: uppercase;
	}
}
#verify-with-fb {
	color: #ffffff;
	background-color: $color-fb;
}

#choices-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include bp(most) {
		flex-direction: row;
		justify-content: space-around;
	}
	> div {
		font-size: 0;
		@include bp(mobile) {
			height: 50vh;
		}
		@include bp(most) {
			height: 100vh;
		}
	}
}

#center-logo {
	width: 30%;
	height: 0;
	padding-bottom: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background: rgba(#ffffff, 0.8);
	@include bp(most) {
		width: 10em;
		padding-bottom: 10em;
	}
	img {
		width: 100%;
		position: absolute;
		left: -50%;
		top: 50%;
		transform: translate(50%, -50%) rotate(-45deg);
	}
}

#featured {
	.text-wrapper {
		position: absolute;
		width: 100%;
		bottom: 0;
		font-size: 1rem;
		color: #ffffff;
		text-align: center;
		.headline {
			font-size: 2em;
			margin-bottom: -0.5em;
		}
		.subtitle {
			color: $color-gray-med;
		}
	}
	@include bp(most) {
		display: flex;
		flex-wrap: wrap;
		.featured-item {
			flex: 1 100%;
			&:nth-child(2), &:nth-child(3) {
				flex: 1 50%;
			}
			&:last-child {
				width: 100%;
				height: 0;
				padding-bottom: 50%;
				overflow: hidden;
				a {
					position: absolute;
					bottom: 0;
					img {
						transform: translateY(10%);
					}
				}
			}
		}
	}
	@include bp(large) {
		position: relative;
		.featured-item {
			&:first-child {
				flex-basis: 50%;
			}
			&:nth-child(2), &:nth-child(3) {
				flex-basis: 25%;
				height: 0;
				padding-bottom: 21.55%;
				overflow: hidden;
				a {
					position: absolute;
					top: 0;
				}
			}
			&:last-child {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 50%;
				z-index: -1;
			}
		}
	}
}

#brand-intro {
	text-align: center;
	.headline {
		@extend .font-header-heavy;
		@extend .theme-color;
		font-size: 3em;
		margin: 1rem 0;
		span {
			display: block;
			font-weight: 300;
		}
	}
	.brand-logo {
		@include bp(mobile) {
			display: none;
		}
	}
	.brand-img {
		width: 50%;
	}
	@include bp(most) {
		display: flex;
		justify-content: center;
		margin: 1em 0;
		.text-wrapper, .img-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.text-wrapper {
			flex: 1 1 52%;
			max-width: 27.5em;
			text-align: left;
			align-items: flex-start;
		}
		.img-wrapper {
			flex: 0 2 48%;
			max-width: 600px;
		}
		.headline {
			margin: 0.25rem 0 0;
		}
		.brand-img {
			width: 80%;
			margin: auto 0 auto auto;
		}
	}
	@include bp(large) {
		.headline span {
			display: inline-block;
		}
	}
	@include bp(desktop) {
		.text-wrapper {
			max-width: 30em;
		}
		.headline {
			font-size: 3.25em;
		}
		.body-text {
			font-size: 1.25em;
		}
	}
}

#instagram {
	@extend .theme-bgColor;
	@extend .theme-color-tint;
	padding: 2rem 0;
	text-align: center;
	.headline {
		margin: 0;
		span {
			@extend .font-header-heavy;
			color: #ffffff;
		}
	}
}
















